.flex{
    display: flex;
    
    justify-content: center;
   
}
.container{
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns:50% 50% ;
    grid-template-rows: 50% 50%;
   
    
}
.div1{
    background-color: aquamarine;
    margin: 5px;
    border: 2px solid black;
}
.img1{
    width: 150px;
    height: 150px;
    float: left;
}
.p1{
    overflow: auto;
}
.div2{
    background-color: aquamarine;
    margin: 5px;
    border: 2px solid black;
}

.img2{
    width: 80px;
    height: 80px;
    float: left;
}
.p2{
 border: 2px solid black;
 overflow: auto;
 margin: 5px;
}

.div3{

    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid black;
}
.r{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 5px;
}
.b{
    width: 80px;
    height: 80px;
    background-color: blue;
    margin: 5px;
    align-self: center;
    
}
.g{
    width: 80px;
    height: 80px;
    background-color: green;
    margin: 5px;
    align-self:flex-end;
}
.div4{
 
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border: 2px solid black;
}

.rr{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 5px;
    align-self: flex-end;
}
.bb{
    width: 80px;
    height: 80px;
    background-color: green;
    margin: 5px;
    align-self: center;
    
    
}
.gg{
    width: 80px;
    height: 80px;
    background-color: blue;
    margin: 5px;

    
}