html{
    font-size: 62.5%;
   
}
.main{
    border: 6px solid yellow;
    width: 500px;
    height: 500px;
       display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
    
}
.divs{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}